// home page logo animation
.animation-container--home {
  width:670px;
  height:130px;
  background-color:rgba(255, 255, 255, 1.00);
}
.animation-canvas--home {
  display: block;
  position: absolute;
  background-color:rgba(255, 255, 255, 1.00);
}
.dom-overlay-container--home {
  display: block;
  //position: absolute;
  overflow: hidden;
  //top: 0px;
  //left: 0px;
  width:670px;
  height:130px;
  pointer-events: none;
}
.preloader--home {
  position:absolute;
  display: inline-block;
  bottom:5px;
  right:15px;
  width: 670px;
  height:130px;
  //text-align: center;
}

// sub page logo animation
.animation-container--sub {
  width:460px;
  height:58px;
  background-color:rgba(255, 255, 255, 1.00);
}
.animation-canvas--sub {
  display: block;
  position: absolute;
  background-color:rgba(255, 255, 255, 1.00);
}
.dom-overlay-container--sub {
  display: block;
  //position: absolute;
  overflow: hidden;
  //top: 0px;
  //left: 0px;
  width:460px;
  height:58px;
  pointer-events: none;
}
#animate_wrapper {
  width:460px;
  height:58px;
}
.preloader--sub {
  position:absolute;
  display: inline-block;
  top:0;
  left:0;
  width: 460px;
  height:58px;
  text-align: center;
}
.preloader-span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

// alternate image
.no-canvas-mobile--home,
.no-canvas-mobile--sub {
  display: none;
}
@media screen and (max-width: 767px) {
  .no-canvas-mobile--home {
    display: block;
  }
  #animation_container.animation-container--home {
    display: none;
  }
}
@media screen and (max-width: 1380px) {
  .no-canvas-mobile--sub {
    display: block;
  }
  #animation_container.animation-container--sub,
  #animate_wrapper {
    display: none;
  }
}

// see this: https://forums.adobe.com/thread/2298878