.home .container-fluid {
  max-width: $max-container-width-home;
}
.sub .container-fluid {
  max-width: $max-container-width-sub;
}
// use to manage the width inside a container
.wrap-inner {
  margin-left: auto;
  margin-right: auto;
  //max-width: 80%;
}
.conclusion {
  padding-top: 2em;
  padding-bottom: 1.5em;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background-color: $medium-gray;
  border-top: 5px solid $bright-red;
}
@media print {
  .conclusion {
    color: $copy-color;
  }
}