.full-width-featured {
  color: white;
  background-color: $bright-red;
}
@media print {
  .full-width-featured {
    color: $copy-color;
  }
}
.full-width-featured__container {}
.full-width-featured__col-text {
  padding-top: 2em;
  font-size: 18px;
  font-weight: 300;
}
.full-width-featured__col-image {}
.full-width-featured__col-image .royalSlider {
  height:720px;
  width:100%;
}
.sub-page-title {
  margin-bottom: .5em;
  font-size: 22px;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.royalSlider img::selection {
  background: none;
  text-shadow: none;
}
// hide slider images before js loads
.royalSlider > img {
  display: none;
}
// hide on mobile/small devices
@media screen and (max-width: 575px) {
  .royalSlider {
    display: none;
  }
}