.site-footer {
  font-size: 14px;
  font-weight: 300;
  color: $extra-light-gray;
  background-color: $footer-bg-color;
}
.site-footer .container-fluid {
  max-width: 100%;
}

// footer copyright and links padding
.footer-client-copy,
.footer-client-links {
  padding-top: 1.25em;
}

// si links "/" separator
.footer-client-links {
  color: darken($extra-light-gray, 30%);
}

// si links
.footer-client-links a,
.footer-client-links a:active,
.footer-client-links a:visited {
  color: lighten($pale-blue,5%);
}
.footer-client-links a:focus,
.footer-client-links a:hover {
  color: $extra-light-gray;
}

// social links
.footer-social-links {
  padding-top: 1.5em;
  padding-right: 1em;
  padding-bottom: .5em;
  padding-left: 1em;
}
.footer-social-links a,
.footer-social-links a:active,
.footer-social-links a:visited {
  color: lighten($pale-blue,5%);
}
.footer-social-links a:focus,
.footer-social-links a:hover {
  color: $extra-light-gray;
}

.row-footer-social-links {
  background-color: $medium-gray;
}