// home page, top banner
.client-banner {
  padding-top: 1em;
  padding-bottom: .5em;
  background-color: $top-header-bg-color;
}
.client-logo {
  width: 220px;
  height: auto;
}

// sub pages
.header-sub-page {
  background-color: $header-bg-color;
}
.header-sub-page__container {
  background-color: white;
}

// home & sub
// link wrapping logo
.site-brand {
  display: inline-block;
}

// sub
.site-logo {
  @include img-responsive;
  width: 460px;
}
.site-exhibition-title {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}
.header-sub-page__col-logo {
  padding-top: 2em;
  padding-bottom: 1em;
}
.header-sub-page__col-menu {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: $header-bg-color;
}
@media screen and (min-width: 768px) {
  .header-sub-page__col-menu {
    padding-left: 2em;
  }
}

// home page
.header-home-page {
  margin-bottom: 1em;
}
.header-home-page__col-logo {
  padding-top: 2em;
}
.header-home-page__col-menu {
  padding-top: 2em;
  padding-bottom: 1em;
}
.site-brand {
  display: inline-block;
}
.site-logo--home {
  @include img-responsive;
  width: 670px;
}
//.site-exhibition-title--home {
//  @include img-responsive;
  //display: block;
  //font-weight: 500;
  //letter-spacing: .01em;
  //text-transform: uppercase;
  //width: 705px;
//}
.site-exhibition-title--sub {
  font-size: 13.8px;
}
.site-exhibition-title--sub img {
  @include img-responsive;
  width: 700px;
}
@media (min-width: 992px) {
  .site-exhibition-title {
    margin-left: .5em;
    padding-bottom: .2em;
  }
  .col-lg-6.col-site-brand-override {
    max-width: 46%;
  }
  .col-lg-6.col-site-title-override {
    max-width: 54%;
  }
}
@media screen and (min-width: 1200px) {
  .site-exhibition-title--home {
    font-size: 21px;
  }
}
// IE 11 adjustment
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .site-exhibition-title--sub {
    display: none;
  }
}
