// featured image area
.section__featured-image--home {
  background-color: $logo-blue;
}
.featured-image-caption--home {
  margin-top: 1em;
  color: $dark-gray;
}
.scroll-indicator--home .fa {
  transition: color .2s ease;
}
.scroll-indicator--home a:hover .fa,
.scroll-indicator--home a:focus .fa {
  color: $extra-light-gray;
}

// text content
.section__text--home {
  margin-top: 1.25em;
  margin-bottom: 1em;
  font-size: 18px;
  line-height: 1.8;
  //font-weight: 300;
}
.home-page__section-title {
  font-weight: 300;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .home-page__section-title {
    margin-top: 1em;
    &.first {
      margin-top: 0;
    }
  }
}
.conclusion--home {
  margin-bottom: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: 300;
  color: white;
  background-color: $medium-gray;
  border-top: 5px solid $pale-blue;
}
@media print {
  .conclusion--home {
    font-weight: normal;
    color: $copy-color;
  }
}

// image grid/filmstrip
.image-grid--home a {
  display: block;
  outline: 1px solid $medium-gray;
  transition: outline .2s ease;
}
.image-grid--home a:hover,
.image-grid--home a:focus {
  outline: 1px solid $extra-light-gray;
}
.image-grid--home img::selection {
  background: none;
  text-shadow: none;
}
//@media screen and (min-width: 768px) {}