.image-overlay {
  //font-size: 15px;
  font-weight: 300;
  color: $extra-light-gray;
}
.image-overlay__ref-img {
  margin-top: .75em;
}
.image-overlay__caption {
  @extend .image-grid__caption;
  margin-bottom: 1em;
  font-weight: 300;
}
// main text area
.image-overlay__text-content-wrap {
  margin-bottom: 2em;
}
// artist quote
.image-overlay__blockquote {
  padding: 0 2em;
  //font-family: $serif;
  //font-style: italic;
}
.image-overlay img::selection {
  background: none;
  text-shadow: none;
}

// scroll link
.scroll-indicator {
  color: darken($extra-light-gray, 5%);
}
.scroll-indicator .fa {
  color: $pale-blue;
  transition: color .2s ease;
}
.scroll-indicator a:hover .fa,
.scroll-indicator a:focus .fa {
  color: $extra-light-gray;
  text-decoration: none;
}

// footnotes
a.footnote-link,
a.footnote-link:active,
a.footnote-link:focus,
a.footnote-link:hover,
a.footnote-link:visited {
  color: $extra-light-gray;
}
.footnote {
  display: block;
  color: darken($extra-light-gray, 30%);
}

@media screen and (min-width: 768px) {
  // text, side of image
  .image-overlay__text-side-wrap {
    margin-top: 1.5em;
    //padding: 0 2em;
  }
  // main text area
  .image-overlay__text-content-wrap {
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
@media screen and (min-width: 992px) {
  .image-overlay__text-side-wrap {
    padding: 0 2em;
  }
}

// mfp overlay animations
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
     -moz-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.95;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}