.image-grid {
  color: white;
  background-color: $medium-gray;
}
@media print {
  .image-grid {
    color: $copy-color;
  }
}
.image-grid__container {
  padding-top: 2em;
  padding-bottom: 2em;
}
.image-grid__caption {
  display: block;
  margin-top: .5em;
  line-height: 1.4;
  color: $extra-light-gray;
}
@media print {
  .image-grid__caption {
    color: $copy-color;
  }
}
// masonry
.grid {
  margin: 0 auto;
  max-width: 300px;
}
.grid-item {
  margin-bottom: 1.5em;
  width: 300px;
}
.grid-item a {
  display: block;
  transition: outline .2s ease;
}
.grid-item a:hover,
.grid-item a:focus {
  outline: 1px solid $extra-light-gray;
}
.grid-item img::selection {
  background: none;
  text-shadow: none;
}
@media (min-width: 768px) {
  .grid {
    max-width: 640px;
  }
  .grid-item {
    width: 290px;
  }
  // custom offset for 3 cols
  //.offset-md-1 {
  //  margin-left: 8.333333%;
  //}
  .offset-md-1_5 {
    margin-left: 12.500000%;
  }
  //.offset-md-2 {
  //  margin-left: 16.666667%;
  //}
}
@media (min-width: 880px) {
  .grid {
    max-width: 810px;
  }
  .grid-item {
    width: 250px;
  }
}
//@media (min-width: 992px) {}
@media (min-width: 1020px) {
  .grid  {
    max-width: 960px;
  }
  .grid-item {
    width: 300px;
  }
}
@media (min-width: 1180px) {
  .grid  {
    max-width: 1110px;
  }
  .grid-item {
    width: 350px;
  }
}
@media (min-width: 1320px) {
  .grid  {
    max-width: 1260px;
  }
  .grid-item {
    width: 400px;
  }
}
@media (min-width: 1460px) {
  .grid {
    max-width: 1440px;
  }
  .grid-item {
    width: 450px;
  }
}

// 3/4 col bootstrap grid
@media screen and (max-width: 767px) {
  .image-grid-col {
    margin-bottom: 1.5em;
  }
}
.image-grid-col a {
  display: block;
  transition: outline .2s ease;
  // needed for safari
  // also gets rid of brief flash of blue link on rollover
  outline: 1px solid $medium-gray;
}
.image-grid-col a:hover,
.image-grid-col a:focus {
  outline: 1px solid $extra-light-gray;
}
.image-grid-col img::selection {
  background: none;
  text-shadow: none;
}
// make small images expand to col width
.image-grid-col img {
  width: 100%;
}