.main-navigation {
  ul {
    @include list-nostyle;
    text-align: center;
  }
  li {
    padding-top: 2.25em;
    font-weight: 600;
    text-transform: uppercase;
  }
  a {
    padding: .7em 1em;
    color: $main-nav-color;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.nav-toggle {
  display: block;
  cursor: pointer;
}
// wrapper so outline doesn't display on mouse click
.nav-wrap {
  display: inline-block;
}
.nav-toggle-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: $bright-red;
  transition: color .2s ease;
}
.nav-toggle-text::selection {
  background: none;
  text-shadow: none;
}
button.nav-toggle {
  margin: 0;
  padding: 0;
  width: 48px;
  border: none;
  background-color: transparent;
  tab-index: 0;
}
button.nav-toggle:focus .nav-toggle-bar,
button.nav-toggle:active .nav-toggle-bar,
button.nav-toggle:hover .nav-toggle-bar {
  background-color: saturate($bright-red, 20%);
}
button.nav-toggle:focus .nav-toggle-text,
button.nav-toggle:active .nav-toggle-text,
button.nav-toggle:hover .nav-toggle-text {
  color: saturate($bright-red, 20%);
}
.nav-toggle-bar {
  display: block;
  margin: 0 0 .45em;
  height: 5px;
  width: 100%;
  max-width: 48px;
  background-color: $bright-red;
  transition: background-color .2s ease;
}
.container-navigation {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.container-navigation--home {
  padding-top: 0em;
}
.main-navigation {
  a:focus,
  a:hover {
    color: $bright-red;
  }
}
.main-navigation a::selection {
  background: none;
  text-shadow: none;
}
.container-navigation.visible {
  display: block;
}
.container-navigation.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  // gender page, moves into column earlier than home page
  button.nav-toggle {
    margin: 0 auto;
  }
  .main-navigation li:first-of-type {
    padding-top: 1em;
  }
}
@media screen and (max-width: 991px) {
  button.nav-toggle--home {
    margin: 0 auto;
  }
}

// tablet and up, header & nav styles
@media screen and (min-width: 768px) {
  .main-navigation {
    border-top:1px solid #d71f3b;
    border-bottom: 1px solid #1754ad;
    ul {
      padding: 1em 0;
      @include list-inline;
      margin-bottom: 0;
    }
    li {
      padding-top: 0;
      font-weight: 600;
      letter-spacing: .1em;
    }
  }
}
@media screen and (min-width: 992px) {
  // move menu toggle down to line up with logo on desktop
  button.nav-toggle--home {
    margin-top: 6px;
  }
}

.sr-only-focusable {
  font-size: 14px;
  font-weight: 600;
  &:active,
  &:focus {
    position: absolute;
    top: 4px;
    left: 4px;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
    padding: .5em;
    //color: #1A56A8;
    color: saturate(#1A56A8, 40%);
    background-color: #fff;
    border: 1px solid saturate(#1A56A8, 40%);
    z-index: 9999;
  }
}