// mixins
@mixin list-nostyle {
  padding-left: 0;
  list-style: none;
}
@mixin list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@mixin clearfix {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}
@mixin img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
@mixin link-color($link-color, $link-hover: null, $hover-bg-color: null, $underline: none, $underline-on-hover: none) {
  color: $link-color;
  text-decoration: $underline;
  &:link,
  &:active,
  &:visited {
    color: $link-color;
  }
  &:hover,
  &:focus {
    color: $link-hover;
    background-color: $hover-bg-color;
    text-decoration: $underline-on-hover;
  }
}
@mixin cta-color-override($txt-color, $bg-color) {
  color: $txt-color;
  background-color: $bg-color;
  border-color: $bg-color;
  .fa {
    color: rgba($txt-color,.6);
  }
  &:hover,
  &:focus {
    color: $txt-color;
    background-color: lighten($bg-color, 5%);
    border-color: lighten($bg-color, 5%);
    .fa {
      color: rgba($txt-color,.7);
    }
  }
}
@mixin cta-inv-color-override($txt-color, $bdr-color) {
  color: $txt-color;
  border-color: $bdr-color;
  .fa {
    color: rgba($txt-color,.6);
  }
  &:hover,
  &:focus {
    color: lighten($txt-color, 5%);
    border-color: lighten($bdr-color, 5%);
    .fa {
      color: rgba($txt-color,.7);
    }
  }
}
@mixin hero-bg-img($img-url) {
  background-image: url($img-url);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}