// general
body {
  font-family: $sans;
  //font-size: 16px; // - v4 default
  color: $copy-color;
  background-color: $page-bg-color;
}

// temporary
p {
  //font-size: 18px;
  //line-height: 1.6;
}
p {
  //margin-bottom: 1.5em;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
//::-moz-selection {
//  background: $accent;
//  text-shadow: none;
//}
//::selection {
//  background: $accent;
//  text-shadow: none;
//}

// links, buttons
a,
a:link,
a:active,
a:visited {
  color: $link-color;
}
a:hover,
a:focus {
  color: $link-hover;
}
a,
.cta,
.btn {
  transition: color .2s ease;
}