// various color names
$medium-blue: #0000cd;
//$navy: #000080;
$extra-light-gray: #eaeaea;
$light-gray: #d3d3d3;
$silver: #c0c0c0;
$medium-gray: darken(#666666, 5%);
$dark-gray: #2e2e2e;
$extra-dark-gray: #1e1e1e;

// theme colors
$pale-blue: #000;
$faint-blue: darken(#000, 5%);
$bright-red: #000;
//$logo-blue: #000; // -- from logo
$logo-blue: #000; // -- from image

// functional color names
$accent: $pale-blue;

$link-color: $medium-blue;
$link-hover: lighten($link-color, 15%);

$copy-color: $extra-dark-gray;

$page-bg-color: white;
$top-header-bg-color: $pale-blue;
//$header-bg-color: $faint-blue;
$header-bg-color: lighten($medium-gray, 60%);
$footer-bg-color: lighten($medium-gray, 5%);

$main-nav-color: $dark-gray;
$main-nav-hover: lighten($main-nav-color, 10%);

$cta-txt-color: #fff;
$cta-bg-color: $dark-gray;
$cta-inverse-txt-color: $dark-gray;
$cta-inverse-border-color: $dark-gray;

$fw-primary-bg: #fff;
$fw-alt-bg: $light-gray;
$fw-highlight-bg: $accent;

// font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700');

// type
$sans-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-default: Georgia, serif;

$sans-custom: "Open Sans";
$serif-custom: "Droid Serif";

$sans: $sans-custom, $sans-default;
$serif: $serif-custom, $serif-default;

$max-container-width-home: 1400px;
$max-container-width-sub: 1440px;